Package: dvol
Version: 2.10.10-1
Architecture: amd64
Maintainer: J.F.Gratton <jean-francois@famillegratton.net>
Description: Container volume backup and restore
Section: Container utilities
Depends: 

